
@function calcFluidFontSize($min, $max, $w-min, $w-max, $units: px) {
    $min: strip-unit($min);
    $max: strip-unit($max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);
    
    $k: ($max - $min)/($w-max - $w-min);
    $b: $min - $k * $w-min;
    $b: $b + $units;

    @return calc( #{$k} * 100vw + #{$b} );
}


@mixin line-height($min, $max, $w-min, $w-max) {

    line-height: $min;
    
    @media (min-width: $w-min) {
        line-height: calcFluidFontSize($min, $max, $w-min, $w-max);  
    }
    @media (min-width: $w-max) {
        line-height: $max;
    }
}